parameters:
    level: 7
    fileExtensions:
        - php
    paths:
        - /myapp/App
    excludePaths:
        - /myapp/tests
        - /myapp/vendor
        - /myapp/ci-docker
        - /myapp/scripts
    ignoreErrors:
        - '#/etc/monnet/config\.inc\.php#'