parameters:
    level: 5
    fileExtensions:
        - php

    excludePaths:
        - /myapp/tests
        - /myapp/vendor
        - /myapp/ci-docker
        - /myapp/scripts
    ignoreErrors:
        - '#/etc/monnet/config\.inc\.php#'