parameters:
    level: 4
    fileExtensions:
        - php

    excludePaths:
        - /myapp/tests
        - /myapp/vendor
        - /myapp/ci-docker
        - /myapp/scripts
    scanFiles:
        - /etc/monnet/config.inc.php