TODO
/nbproject/
/next.txt
/test-int/
/config/config.inc.php
/oldworkflows/
/oldfiles/
bookmarks_icons/*
!bookmarks_icons/www.png
logs/*
!logs/.htaccess
composer.json
composer.lock
info.php
cache/*
!cache/.noempty
