/**
 * 
 *  @author diego/@/envigo.net
 *  @package 
 *  @subpackage 
 *  @copyright Copyright CC BY-NC-ND 4.0 @ 2020 - 2024 Diego Garcia (diego/@/envigo.net)
 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');
@import url(https://fonts.googleapis.com/css?family=VT323);

html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    /* background: #0c0a15; */
    color:white;
    font-family: 'Sora', sans-serif;
    font-weight: 100;
    font-size: 11px;
    background-color: black;
    /* background: url("../img/bg4.jpg") no-repeat center center fixed; */
    /*background-size: cover;*/
    background-color: #151515;
}

a {
    text-decoration: none;
}

p {
}

button {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 4px 4px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Margen exterior */
    cursor: pointer; /* Cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
    transition-duration: 0.4s; /* Duración de la transición */
}

button:hover {
    background-color: #0056b3; /* Cambiar color de fondo al pasar el mouse */
}


.header {
    display:flex;
    width:100%;
    max-height:150px;
}

.head_align_center{
    display:flex;
    align-content: center;
    margin:auto;
    border:0px solid red;
}
#head_left {
    border:0px solid #0E9700;
    width: 100%;
}

#head_center {
    border:0px solid #5ac4e3;
}

#head_right {
    border:0px solid #0E9700;
    width: 100%;
}
.head_left_content {
    display:inline-block;
}
.head_center_content {
}
.head_right_content {
    display:inline-block;
}

footer {
    height: 5px;
}

.main {
    margin-top: 1vh;
    padding-bottom: 50px;
}
.main_align_container {
    display:flex;
    align-content: center;
    width:100%;
    border:0px solid red;
}
.main_container {
    display:block;
    margin:auto;
    padding:0;
    border:0px solid red;
    overflow:hidden;
    width:100%;
}
.bookmarks_container {
    border:0px solid red;
    /* float: left; */
    margin-bottom: 15px;
}

.weather-container {
    border: 0px solid grey;
    padding: 0px 5px 0px 5px;
    margin: auto;
    width: 120px;
    float:left;
    /* margin-top: 15px; */
    /* margin-bottom: 10px; */
}
.options_container {
    display: flex;
    float:left;
    /* grid-gap: 14px; */
    grid-template-columns: repeat(2, 120px);
    border:0px solid red;
    padding: 5px;
    margin:auto;
    /* margin-top:15px; */
    width:max-content;
}

.center_container {
    border:0px solid yellow;
    margin-top:5px;
    float:left;
    overflow:hidden;
    width:49%;
}

.left_container, .right_container {

}
.left_container {
    border: 0px solid red;
    margin-top:5px;
    float:left;
    overflow:hidden;
    width:49%;
    margin-left:10px;
}
.right_container {
    border:0px solid black;
    margin-top:5px;
    float:left;
    overflow:hidden;

}
.search_container {
    text-align: center;
    border:0px solid red;
    margin-bottom: 25px;
    width:500px;
}

.search_container h1 {
    font-family: 'Bellota', cursive;
    font-size: 4rem;
    grid-column: 1 / -1;
    margin-bottom: 12px;
    margin-top: -12px;
}

.search_container input {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 76%;
    max-width: 500px;
    font-size: 1.8em
}

.bookmarks{
    margin: 5px 5px 10px 5px;
    display: grid;
    grid-gap: 6px;
    border: 2px;
    grid-template-columns: repeat( auto-fit, minmax(86px, 0fr) );
    /*
    grid-template-columns: repeat(6, 80px);    
    grid-template-rows: 80px;
    grid-template-rows: repeat(3, 75px); */
}
.item-container {
    width:85px;
    height:85px;
    position:relative;
}
.item_icon {
    width: 30px;
    border-radius: 5px;
}
.item_link {
    display: block;
    width:100%;
    height:100%;
    position: relative;
}

.item-thumb {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px rgba(0,0,0, 0.7);
    border-style: ridge;
    border-radius: 5px;
    justify-content: center;
    background-color:rgba(134, 132, 132, 0.6);
}

.item-thumb , .fab, .fas {
    color: rgb(144, 144, 144);
    font-size: 35px;
}


.shadow1 {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow1:hover {
    box-shadow: 0 5px 10px rgba(255,0,0,0.40), 0 10px 10px rgba(255,0,0,0.50);
}

.bookmarks img {
    width: 40px;
    height: 40px;
    font-size: 0.4em; /* for alt fail */
    border-radius: 5px;
    margin:0px;
    margin-top: 5px;
}
.item-title {
    display: block;
    padding: 0;
    margin: 2px;
    font-size: 12px;
    color: #d4d4d4;
    font-weight: bold;
    text-align: center;
}
.wCurrent {
    font-size: 50px;
    margin: 25px 20px 0 0;
}
.wCurrent .fas {
    font-size: 80px;
    opacity: 0.9;
    margin-top: 0px;
}

.wCurrent .cTemp {
    color: #d4d4d4;
    font-size: 25px;
    opacity: 0.9;
    padding-top: 15px;
}

.wForecast {
    display: flex;
    background: rgba(255,255,255,0.01);
    padding: 0 0 5px 0;
}
.fa-linux {
    color: lightskyblue;
}
.weather-container img {
    vertical-align: middle;
}
.city-name {
    float:left;
    font-size: 2.0em;
    margin-top: 10px;
}
.weather-image {
    float:right;
}
#clock {
    font-size: 2.0em;
    font-weight: bold;
    align-content: center;
}
.search-box,.close-icon,.search-wrapper {
    position: relative;
    padding: 2px;
}
.search-wrapper {
    border:0px solid yellow;
    width: 100%;
    margin: auto;
}
.search-box {
    width: 80%;
    border: 1px solid #000;
    outline: 0;
    border-radius: 5px;
}
.search-box:focus {
    box-shadow: 0 0 15px 5px #5ac4e3;
    border: 1px solid #9595a4;
}

.close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: super;
    outline: 0;
    cursor: pointer;
    padding: 3px 10px 0px 10px;
}

.close-icon:after {
    content: "X";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #1A1B3E;
    z-index:1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 10px;
    box-shadow: 0 0 8px #6A4CAA;
    cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
    display: none;
}

.gradiant {
    background-image: linear-gradient(65deg, #fff, #293368);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.place_profile {
    border: 1px solid black;
    color: #ffffff;
    background-color: #222;
}

.stroke {
    display:none;
    color: #000;
    text-shadow: -1px -1px 0 #9b3e3e, 1px -1px 0 #9b3e3e, -1px 1px 0 #9b3e3e, 1px 1px 0 #9b3e3e;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 18px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 1.6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 5px;
}

.slider.round:before {
    border-radius: 50%;
}

.opt_labels {
    padding-right: 4px;
    vertical-align: middle;
}

/* SERVICES */

.hosts, .hosts_cat, .footer_hosts {
    border: 1px solid rgba(0,0,0, 0.5);
    border-radius: 5px;
    margin: 0px 5px 2px 5px;
    display: grid;
    grid-gap: 6px;
    /* grid-template-columns: repeat(3, 145px);  */
    background-color:rgba(134, 132, 132, 0.6);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px 10px 10px 5px;
    overflow: hidden;
    outline: none;
    position:relative;
}
.footer_hosts {
    grid-template-columns: repeat( auto-fit, minmax(145px, 1fr) );
}
.hosts, .hosts_cat {
    grid-template-columns: repeat( auto-fit, minmax(145px, 1fr) );
}
.text_shadow_style1 {
    background-color: #fffafa;
    font-family: 'Futura' !important;
    font-weight: bold !important;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(47, 47, 47, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.text_shadow_style2 {
    background-color: #d0d0d0;
    font-family: 'Futura' !important;
    font-weight: bold !important;
    color: transparent;
    text-shadow: 0px 1px 3px rgba(32, 32, 32, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.footer_hosts {
    padding: 2px 10px 2px 5px;
}
.hosts_cat {
    padding: 3px;
    margin: 0px 5px 0px 5px;
    overflow: visible;
}
.hosts-container{
    padding:0px;
    margin:0px;
}
.hosts-container img {
    width:20px;
    border-radius: 5px;
    padding-right: 4px;

}
.hosts-container .fas, .fab {
    font-size:20px;
    margin-top: 0;
    border-radius: 5px;
    margin-right: 5px;
    background: transparent;
    color: white;
}
.hosts-container img:first-of-type {
    padding-left: 2px;
}
.hosts-online {
    padding:0;
    margin:0;
}

.hosts-thumb {
    display: flex;
    position:relative;
    width: 100%;
    height: 100%;
    border: 1px rgba(0,0,0, 0.7);
    border-style: ridge;
    border-radius: 5px;
    background-color:rgb(41, 40, 40);
    color: rgb(255,255,255);
    align-items: center;
    padding: 1px;
}
.hosts-title {
    display: inline-block;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.hosts-head {
    display: inline-block;
    padding: 1px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.login_page {
    border:0px solid black;
    text-align: center;

}
.loading {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(58, 58, 58, 0.9) url('../img/loading.gif') 50% 50% no-repeat;
    z-index: 9;
}

.profiles {
    display: inline-flex;
}
.profiles  a {
    font-size: 1.5em;
}

.profile_name input, .profile_password input {
    text-align: center;
}

.check {
    -webkit-appearance: none; /*hides the default checkbox*/
    height: 12px;
    width: 12px;
    position: relative;
    transition: 0.10s;
    background-color: #FE0006;
    text-align: center;
    color: white;
    border-radius: 15px;
    outline: 2px ridge;
    font-size: 8px;
}

.check:checked {
    background-color: #0E9700;
}

.check:before {
    content: "✖";
}
.check:checked:before {
    content: "✔";
}

.check:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Progress */

#progress_bars {
    /* display: inline-grid; */

}
#progress_bars progress {
    width: 50px;
}
/** Charts **/
.charts {
    float:left;
}
.ping_chart img {
    width: 400px !important;
}

/* SERVICES END */

.host-details-container {
    /*
        position:relative;
        border-radius: 5px;
        background-color: rgb(83, 76, 58);
        border:1px rgba(0,0,0,1);
        padding:5px;
        margin:0px;
        overflow:auto;
    */
}


.host-details-container img {
    width:20px;
    border-radius: 5px;
    padding-right: 5px;

}
.host-container .fas, .fab {
    font-size:20px;
    margin-top: 0;
    border-radius: 5px;
    margin-right: 5px;
    background: transparent;
    color: white;
}
.host-details-main {
    display: flex;
    width: 100%;
    height: 100%;
    color: rgb(255,255,255);
    align-items: center;
    padding: 1px;
}
.host-item {
    padding-right: 5px;
    padding-left:5px;
    border-right: 1px solid #fb3434;
    margin-left:-1px;

}
.host-item:last-of-type {
    border-right: 0;
}
.host-details-container img:first-of-type {
    padding-left: 5px;
}
.host-details {
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 0px;
    transform: translate(-50%, -50%);
    margin: auto;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    overflow: hidden;
    min-width: 50%;
    min-height: 35%;
    z-index: 1;
    background-color: rgb(55, 50, 37);
}
.host-details-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 2px solid #313131;
    height: 25px;
    padding: 2px 0px 2px 1px;
    margin: 0px;
    background-color: #808080;
}
.host-details-select {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    height: 20px;
}
.host-details-form-options {
    display: inline-block;
    vertical-align: super;
    margin: 0px;
    padding: 0px;
}
.host-details-tabs-head-container, .bookmarks-tabs-head-container {
    display: inline-block;
    font-family: "antique-olive" !important;
    border: none;
    /*overflow: hidden;*/
}
.bookmarks-tabs-head-container {
    margin: 0px 0px 0px 5px;
}
.host-details-tabs-head, .bookmarks-tabs-head {
    margin: 0px;
    display: inline-block;
    overflow: hidden;
    background: none;
    border:none;
    text-align: center;
    border-radius: 7px 7px 0 0 !important;
    background-color: #313131;
    color:white;
    text-transform: uppercase;
    font-size: 12pt;
    cursor: pointer;
    font-weight: 300;
    padding: 2px 6px 1px 6px;

}
.bookmarks-tabs-head {
    margin: 0px 0px 0px 0px;
}
.bookmarks-tabs-head.active {
    color: deepskyblue;
}
.bookmarks-tabs-head:hover {
    color: gray;
}
.bookmarks-tab-content {
    display:none;
}
.host-details-tabs-head.active {
    color: deepskyblue;
}
.host-details-tabs-head:hover {
    color: gray;
}
.host-details-tab-content {
    display: none;

}
.host-details-tab-content.active {
    display: inline-block;
    width:100%;
    border:0px solid #0E9700;
    margin: 0;
    padding: 0;
}
.bookmarks-tab-content.active {
    display: grid;
}
.host-details-tab-content textarea {
    width: 100%;
    /* )overflow: scroll;*/

}
.host_port_container {
    text-align:center;
    font-size: 0.8em;
    border:0px solid blue;
    overflow:auto;
}
.port_container {
    display:inline-flex;
}
.port-online, .port-offline {
    width:10px !important;
    height:auto;

}
.host-controls{
    display:inline-block;
    float:right;
    border:0px solid blue;
    border-radius: 5px;
}
.host-controls-left{
    float:left;
    border:0px solid blue;
}
.host-controls-right{
    float:right;
    border:0px solid blue;
    margin: 3px 2px 0px 0px;
}
.host-details-close input  {
}
.host-details-form-close {
    display: inline-block;
    border: 0px solid blue;
}
.action-icon {
    width:20px;
}
.power-off {
    background: white;
    border-radius: 8px;
}
.select_deploy, .deploy_btn {
    border:1px solid black;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
.deploy_btn {
}
.log_container {
    clear:both;
    display: block;
    max-height: 300px;
    /* max-width: 550px;*/
    overflow: auto;
}
.log_line {
    border-bottom: 1px solid black;
    font-size: 1em;
}
#main_status_msg {
    text-align:center;
    color: red;
    font-weight:bold;
    font-size: 15px;
}
.ctrl_fieldset {
    border: 1px solid white;
    border-radius: 5px;
}

.textarea-bar {
    min-height: 25px;
    border:1px solid red;
}
.ping_graph_container {
    height: 300px;
    padding-bottom: 40px;
}
.profile_box {
    display:block;
    border:0px solid red;
    margin: 0 auto;
    width:300px;
}
.profile_box input {
    padding: 10px;
    border: 1px solid #4CAF50; /* Borde verde */
    border-radius: 6px;
    font-size: 16px;
    background-color: #DFF2DF; /* Fondo verde claro */
    color: #333; /* Texto oscuro para contraste */
}
.profile_box input:focus {
    border-color: #5cb85c;
    background-color: #dff0d8;
    box-shadow: 0 0 5px rgba(92, 184, 92, 0.5);
}
.profile_box input:placeholder {
    color: #666;

}

.login_button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2px;
}
.login_button:hover {
    background-color: #45a049
}
.top_container_bar {
    position: absolute;
    float:left;
    top: 10px;
    left: 5px;
}
.top_container_bar a {
    /* display: flex;*/
    border: 0px solid yellow;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
.top_container_bar img {
    width: 30px;
    padding: 0px;
    margin: 0px;
    border: 0px solid blue;
}
.bar_item_container {
    float:left;
    margin: 0px;
    padding: 3px 3px 0px 3px;
    border: 1px rgba(0,0,0, 0.7);
    border-style: ridge;
    border-radius: 5px;
    background-color: rgb(0, 132, 183);
    color: rgb(255,255,255);
    /* inline-size: min-content; */
    text-align: center;
    vertical-align: middle;
}
.add_link, .close_link, .settigns_link{
    width: 16px;
    padding-left: 2px;
}
.button-ctrl {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

#add-bookmark-container, #add-network-container {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    margin: auto;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    overflow: hidden;
    min-width: 50%;
    min-height: 10%;
    z-index: 1;
    background-color: rgb(55, 50, 37);
}
.front-container-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 2px solid #313131;
    height: 20px;
    padding: 2px 0px 2px 1px;
    margin: 0px;
    background-color: #808080;
}
.front-container-bar-title {
    float:left;
    margin: 1px 0px 0px 1px;
}
#addBookmarkForm label, #addNetworkForm label {
    display: block;
    margin-bottom: 5px;
}
.form_container {
    margin: 10px;
}
#addBookmarkForm input[type="text"], #addNetworkForm input[type="text"] {
    padding: 2px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#close_addbookmark, #close_addnetwork{
    float:left;
}
#weight {
    width: 50px !important;
}
#cat_id {
    width: 150px !important;
}
#addBookmarkForm input[type="submit"], #addNetworkForm input[type="submit"] {
    display: block;
    width: auto;
    margin: 10px auto 0;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#status_msg,
#error_msg {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#status_msg {
    color: green;
}
#error_msg {
    color: red;
}
#textarea_logs {
    display:block;
    resize:both;
    background: transparent;
    margin: 0px 3px 0px 3px;
    border: 1px inset #000;
    height: 100%;
    min-height: 150px;
    color: white;
}

.categories_container {
    display: flex;
    align-items: center;
    font-size: 13px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category {
    display: flex;
    align-items: center;
}
.category img {
    width: 15px;
    height: 15px;
    margin: 0px 4px 0px 4px;
}
.category a {
    display: flex;
    text-decoration: none;
    color:white;
    margin: 5px 0px 5px 0px;

}
.category a:hover {
    box-shadow: 6px 6px 6px rgba(255,0,0,0.40), 6px 6px 6px rgba(255,0,0,0.40);
}
.cat_name {
    text-transform: uppercase;
    word-break: keep-all;
}
.hosts_totals {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-right: 10px;
}
.term_container {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2rem;
}

.term_crystal {
    border:0px solid red;
    position:relative;
}
.frame {
    background-color: transparent;
    border-radius: 2rem;
    border: 12px solid #2196F3;
    border-bottom-color: #121212;
    border-left-color: rgba(20,20,20,1);
    border-right-color: rgba(20,20,20,1);
    border-top-color: rgba(5,5,5,1);
    box-shadow:
        inset 0 0 18rem black,
        inset 0 0 3rem black,
        0 0 10rem black;
    height: 200px;
    overflow:auto;
}

.term_output {
    color: #00fa00;
    font-family: 'VT323';
    font-size: 20px;
    font-weight: 400;
    animation: crt-output 10ms infinite;
    background-color: transparent;
    padding: 2rem 2rem;
    box-sizing: border-box;
    letter-spacing: -1.5px;
}

.glow {
    animation: crt-glow 60s infinite;
    background:
        radial-gradient(circle at center,
        rgb(0, 255, 85) 0%,
        rgba(25, 223, 91, 0.88) 58%,
        rgba(0, 255, 85, 0.52) 80%,
        rgba(0, 255, 34, 0.27) 93%,
        rgba(104, 255, 0, 0) 100%);
    opacity: 0.15;
}

.footer_bar {
    border:0px solid pink;
    width:95%;
    margin: 0 auto;
}
.footer_right_element {
    float:right;
}
.clearfix {
    clear: both; /* Limpiar los flotadores */
}
.delete_bookmark {
    display: none;
    position: absolute;
    top:5px;
    right:2px;
    z-index: 1;
}
.disabled-link {
    pointer-events: none;
    background-color: black !important;
}
.disabled-link .item-thumb{
    background-color: #1c1c1c !important;
}
.disabled-link img{
    opacity: 0.2;
}

#toggleItemsSettings {
    float:left;
}
#addBookmark {
    float:left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#595959;
    min-width: 160px;
    box-shadow:  0px 8px 16px 0px rgba(255, 0, 0, 0.2);
    border: 2px solid #000;
    padding: 4px 6px;
    top: 20px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

#tab9 .frame {
    height: 145px;
}
#config_status_msg {
    width:100%;
    font-size: 12px;
    font-weight: bold;
    color: #0E9700;
    text-align:center;
    border:0px solid red;
}
.min-details-hidden {
    display: flex;
    padding: 0px;
    position: absolute;
    border: 1px solid #3e1818;
    border-style: ridge;
    border-radius: 5px;
    background-color: #3e1818;
    align-items: center;
    width: 3px;
    overflow: hidden;
    top: 3px;
    right:3px;
    height: 70%;
}
.min-details-hidden img {
    display: none;
}

.min-details-hidden:hover {
    width: 75px;
    background-color: rgb(41, 40, 40);
    border: 1px solid #000;
    padding: 0px;
    transition: width 0.5s ease;
    top: -1.2px;
    right: 0px;
    height: 98%;
}
.min-details-hidden:hover img {
    display: flex;
}
@keyframes crt-glow {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes crt-output {
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1096px) {
    .hosts {
        /* grid-template-columns: repeat(6, 140px);      */
        margin-bottom: 10px;
    }
    .header {
        padding-top: 0px;
    }
    .main {
        margin-top: 5vh;
    }

}
@media only screen and (max-width: 950px) {
    .hosts {
        /* grid-template-columns: repeat(5, 140px);  */
    }
    .search_container h1 {
        font-size: 3rem;
    }
    .search_container {
        width:100%;
    }
}
@media only screen and (max-width: 800px) {
    .bookmarks_container{
        margin: auto;
    }
    .hosts {
        /* grid-template-columns: repeat(4, 140px);    */
    }

}
@media only screen and (max-width: 635px) {
    .hosts {
        /* grid-template-columns: repeat(3, 140px);   */
    }
    .left_container {
        width:99%;
    }
    .center_container {
        width:99%;
    }
    .search_container h1 {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 645px) {
    .bookmarks {
        /*        
                grid-template-columns: repeat(5, 75px);    
                grid-template-rows: 75px;
        */
    }

    .search_container input {
        width: 75%;
    }
    .bookmarks .item {

    }

    .bookmarks .item-thumb .fas, .fab, .far {

    }

    .bookmarks .item-title {

    }
    .bookmarks img {

    }
}

/* Screenshots Privacy */
/*
.term_output {
color: transparent;
    text-shadow: 0px 0px 4px rgba(0,0,0,1) !important;    
}
.hosts-title, .text_shadow_style1, .text_shadow_style2{
    display:none !important;
}
*/